{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block body%}




<div class="bradcam_text " >
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<div dir="rtl">

<!--/ bradcam_area  -->

    
<!-- Search -->
<div class="catagory_area ">
    <div class="container " style="margin-top: 10rem">
        <div class=" single_text">
            <h1>اكثر من {{jobs.count}}+وضائف  متاحة</h1>
            <br>
        </div>
        
        <!-- endsearch -->
    </div>
    <!-- bradcam_area  -->  

       
<!--================Blog Area =================-->
<section class="blog_area section-padding">
<div class="container" >
    <div class="row">


   
        {% for job in jobs %}
 
        <div class="col-lg-8 mb-5 mb-lg-0">
            <div class="blog_left_sidebar">
                <article class="blog_item" style="background-color: rgba(142, 197, 248, 0.63);">
                    <div class="blog_details">
                        <img class="img-circle" src="{{job.image.url}}" alt="" style="width:50px;height:60px;">
                        <a href="#" class="blog_item_date">
                            <h5>date : {{job.published_at|date:"d M o"}}</h5>
                            
                    
                      
                     
                        <a class="d-inline-block" href="{% url 'jobs:job_datil' job.slug %}">
                            <h2>{{job}}</h2>
                        </a>
                        <p> {{job.descraption}} </p>
                        <ul class="blog-info-link">
                            <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                            <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                        </ul>
                    </div>
                </article>

                
            </div>
        </div>
        
        {% endfor %}






        <!-- @@@@@@@@@@@@@@@@@@@@@@@@ -->
        








        

        <div class="col-lg-4">
            <div class="blog_right_sidebar">
                <aside class="single_sidebar_widget search_widget">
                    <form method="GET">
                        {% bootstrap_form myfilter.form %}
                   
                            <input type="submit" value="إبحث" class="boxed-btn3 w-100">
                    </form>
                </aside>

                <aside class="single_sidebar_widget popular_post_widget">
                    <h3 class="widget_title">احدث الوضائف</h3>


                        <div class="media post_item">
                                <img src="img/blog/single_blog_1.png" alt="" style="width: 30spx; height: 30px;">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>تجميل وزراعه الاسنان</h3>
                                </a>
                                <p>تم النتشر في : <span style="color: #00D363;">3/6/2020</p>
                            </div>
                        </div>
                    

                </aside>
            </div>
        </div>
    </div>
</div>
</section>
<!--================Blog Area =================-->
</div>
     








<!-- @@@@@@@@@@@@@@@@@@@@ -->
{% if jobs.has_other_pages %}

    <div class="col-lg-8 mb-5 mb-lg-0"> 
        <nav class="blog-pagination justify-content-center d-flex">
            <ul class="pagination">
                <li class="page-item">
                    {% if jobs.has_previous %}
                    <a href="?page={{jobs.previous_page_number}}" class="page-link" aria-label="Previous">
                        <i class="ti-angle-right"></i>
                    </a>
                    {% endif %}
                </li>
                
                        {% for i in jobs.paginator.page_range %}        
                            <li class="page-item active">
                                <a href="?page={{i}}" class="page-link">{{i}}</a>
                            </li>
                        {%endfor%}     
                <li class="page-item">
                    {% if jobs.has_next %}
                    <a href="?page={{jobs.next_page_number}}" class="page-link" aria-label="Next">
                        <i class="ti-angle-right"></i>
                    </a>
                    {% endif %}

                </li>
                
            </ul>
        </nav>
        
    </div>
{% endif %}

{% endblock body%}